<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="top-nav">
    <div class="logo">
      <img src="../img/img_.jpg" alt="Logo">
    </div>
    <div class="profile-icon">
      <img src="profile-icon.png" alt="Profile Icon">
    </div>
  </nav>

  <nav class="left-nav">
    <ul>
      <li><a href="#"><i class="ri-dashboard-fill"></i>Dashboard</a></li>
      <li><a href="#"><i class="fa fa-lock"></i>Voters</a></li>
      <li><a href="#"><i class="ri-pie-chart-fill"></i>Parties</a></li>
      <li><a href="#"><i class="ri-bar-chart-fill"></i>Positions</a></li>
      <li><a href="#"><i class="ri-group-2-fill"></i>Contestants</a></li>
      <li><a href="#"><i class="ri-organization-chart"></i></i>Elections</a></li>
      <li><a href="#"><i class="ri-group-3-fill"></i>Users</a></li>
  
     
    </ul>
  </nav>

  

  <main>
    <div class="top-text">
        <h1>Result Dashboard</h1>
    </div>

    <div class="container">
        <div class="cube">
            <i class="ri-edit-2-fill"></i>
            <h3>Registered Voters</h3>
            <p>Total number of registered voters</p>
            <h2>10</h2>
        </div>

        <div class="cube">
            <h3>Total Votes</h3>
            <p>Total number of votes</p>
            <h2>0</h2>
        </div>

    </div>

    <div class="container2">
        <div class="box">
            <img src="" alt="profile-pic">
            <h2>278</h2>
            <p>votes</p>
            <p>John Brown</p>

        </div>

        <div class="box">
            <i class="ri-edit-2-fill"></i>
            <h2>278</h2>
            <p>votes</p>
            <p>John Brown</p>

        </div>

        <div class="box">
            <i class="ri-edit-2-fill"></i>
            <h2>278</h2>
            <p>votes</p>
            <p>John Brown</p>

        </div>

        <div class="box">
            <i class="ri-edit-2-fill"></i>
            <h2>278</h2>
            <p>votes</p>
            <p>John Brown</p>

        </div>
    </div>




       
  </main>
</body>
</html>